.content {
    background-color: rgba(0, 0, 0, 0.912)
}

.text {
    color: bisque;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    font-size: 18px;
    line-height: 150%;
}

.text p {
    margin: 0px 0px 20px 0px;
}