// .container {
//     display: flex;
//     padding: 50px;
//     box-sizing: border-box;
    
// }

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px   10%;
    margin: 50px;
    background-color: bisque;
}